body {
	background-color: rgb(253, 150, 121);
	font-family: Cabold Comic;
	font-size: 20px;
}

.title {
	text-align: center;
	color: rgb(5, 0, 2);
}

.logo .ttsrlogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

ul li {
	text-align: center;
	color: rgb(5, 0, 2);
	list-style-type: none;
}

p {
	text-align: center;
	color: rgb(5, 0, 2);
}
